.documentsContainer {
    width: 100%;
    min-height: 85vh;
    position: relative;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 502px;
    text-align: center;

}