.cardImg {
  margin-top: 20px;
  padding: 10px;
}

.cardImg img {
  margin: 0 auto;
  width: 100%;
  height: 120px;
  border-radius: 6px;
  object-fit: contain;
}

#violateText {
  color: var(--primary) !important;
}
